DEFAULT_CAPITAL=200000
DEFAULT_STOP_LOSS=0.02
ROLLING_WINDOW=60
DATA_PERIOD=9mo
VIX_ALERT_LEVEL=25
VIX_SKIP_LEVEL=30
VIX_SIGNAL_DAMPING=0.50
LONG_SHORT_CAPITAL_RATIO=0.30
TAKE_PROFIT_RATIO=0.03
MAX_POSITION_BUDGET_RATIO=0.40
WEAK_SIGNAL_THRESHOLD=0.50
